@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1a1b1f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slide img {
  display: inline-block !important;
}

.slick-slide {
  width: auto !important;
}

.slick-track {
  width: auto !important;
}

.slick-track {
  display: flex !important;
  flex-direction: row !important;
}

.MuiPickersPopper-paper {
  color: #ffffff !important;
}



.MuiInputLabel-root {
  background-color: #2d3236 !important;
  border-radius: 5px 5px 0 0 !important;
  padding: 2px 10px !important;
}



.Mui-required, .MuiSelect-select, .MuiOutlinedInput-input, .MuiFormLabel-root, .MuiInputLabel-root, .MuiPickersDay-root, .MuiDayCalendar-weekDayLabel, .MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton .MuiPickersCalendarHeader-switchViewIcon, .MuiSvgIcon-root {
  color: #ffffff !important;
}

.MuiPickersDay-root.Mui-selected, .MuiButton-root{
  background-color: #fc5200 !important;
  color: #ffffff;
}

.MuiInputAdornment-root {
  margin-left: 0 !important;
}

.MuiButtonBase-root-MuiPickersDay-root {
  border: 1px solid #ffffff;
}

.MuiButton-root:hover {
  background-color: #fc520090 !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 0.5px solid #ffffff !important;
}

#__next > div > div > div.activities_titleFilter__qdIJ2 > div.activities_dateFilter__4m1hp > div > div.activities_dateFields__5AQww > div:nth-child(1) > div > fieldset,
#__next > div > div > div.activities_titleFilter__qdIJ2 > div.activities_dateFilter__4m1hp > div > div.activities_dateFields__5AQww > div:nth-child(2) > div > fieldset {
  border: 0px !important;
}

.MuiButton-root.Mui-disabled {
  background-color: #fc520050 !important;
  color: #ffffff50 !important;
}

.MuiPaper-root, .MuiMenu-paper, .MuiPopover-paper {
  background-color: #2d3236 !important;
}

.MuiInputBase-input {
  text-align: center !important;
}

.MuiFormControl-root {
  width: 100% !important;
  margin-bottom: 2rem !important;
}



@media (min-width: 600px) {
  .MuiContainer-root {
    max-width: 100% !important;
}
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2d3236 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

h1,
h2,
p,
ul {
  margin: 0;
  color:#ffffff;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;

}

.container {
  margin: 1rem 2rem;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: #2d3236 !important;
}

.react-datepicker__header {
  background-color: #2d3236 !important;
  
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header, .react-datepicker__day-name, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #ffffff !important;
}

.react-datepicker {
  background-color: #2d3236 !important;
  border: 0 !important;
}

.react-datepicker input {
  border-radius: 5px !important;
}

.leaflet-container {
  height: 500px !important;
  width: 500px !important;
}

svg {
  display: block;
}

main {
  overflow: hidden;
}